body{
    width: 100%;
    padding: 0;
    margin: 0;
}

#log{
    background-color: purple;
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 30px;
    font-size: large;
    font-weight: bold;
    
    
}
.nav-hover{
    color: white;
}

.nav{
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: blue;
    font-weight: 900;
    text-align: center;
    border-radius: 20px;
}
.nav-ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    
}
.links li,
.nav-ul li {
    display: inline-block;
    align-items: center;
    list-style-type: none;
    
}
.nav-ul li {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    color: white;
}
.nav-hover:hover {
    color: #ED661F;
    border-bottom:#ED661F 1px solid;
    padding-bottom: 5px;

}


.links,
.nav-ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    
    

}
.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #FAFAFA;

}
.login li{
    color: #FAFAFA;

}


.btn{
    padding: 20px;
    background-color: purple;
    border-radius: 30px;
    transition: 1.0s ease;

}
#log{
    background-color: purple;
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 30px;
    font-size: large;
    font-weight: bold;
    
    
}


.btn:hover{
    color: seagreen;
    background-color: red;
}

list a:hoover{
    color: brown;
}
.blake{
    color: black;
    font-weight: bolder;
    font-size: xx-large;
    font-size: 35px;
}


.sec1{
    background-color: rgb(154, 127, 127);
    padding: 10px;
    margin: 0;

    

}

.sec2{
    background-color: rgb(57, 57, 97);
    margin: 0;
    padding: 10px;
    text-align: center;
    align-items:center;
    
}
a{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px ;
    padding-bottom :5px ;
    font-size: 20px;
    color: white;
    justify-content: space-between;
}

.btn{
    background-color: white;
    color: blue;
    border-radius: 10px;
    padding-left:15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 4px;
    font-size: large;
    font-weight: bold;
}

.p1{
    color: white;
    align-items: center;
    text-align: center;
}
.p2{
    color: white;
    align-items: center;
    text-align: center;
    position: relative;
}

.hsec1{
    color: rgb(13, 13, 227);
    background-color: rgba(196, 191, 184, 0.898);
    font-weight: lighter;
    width:max-content;
    position: relative;
    left: 50%;
    padding-left: 15px;
    padding-right: 15px;
}

.hsec2{
    background-color: blue;
    color: white;
    font-weight: lighter;
    width: max-content;
    position: relative;
    left: 50%;
    padding-left: 15px;
    padding-right: 15px;
    

}